/* This file is for your main application css. */

@import "~milligram/dist/milligram";
.e-square{
	height: 25px;
	width:25px;
	background-color: #555;
	border: 1px solid gray;
}

.f-square{
	height: 25px;
	width:25px;
	background-color: orange;
	border: 1px solid gray;
}

